################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SinglePageApplication/.vs/SinglePageApplication/v15/Server/sqlite3
/SinglePageApplication/.vs/SinglePageApplication/v15/.suo
/SinglePageApplication/SinglePageApplication/bin/Debug/netcoreapp2.1
/SinglePageApplication/SinglePageApplication/obj
/SinglePageApplication/SinglePageApplication/SinglePageApplication.csproj.user
/SinglePageApplication/.vs/config
/.vs/slnx.sqlite
/.vs/AadDemos/v15/.suo
/SinglePageApplicationWithAPI/.vs
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/bin/Debug/netcoreapp2.1
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/obj
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/SinglePageApplication.csproj.user
/SinglePageApplicationWithAPI/WebAPI/bin/Debug/netcoreapp2.1
/SinglePageApplicationWithAPI/WebAPI/obj
/WebApp-WebAPI/.vs
/WebApp-WebAPI/WebAPI/bin/Debug/netcoreapp2.1
/WebApp-WebAPI/WebAPI/obj
/WebApp-WebAPI/WebAPI/WebAPI.csproj.user
/WebApp-WebAPI/WebApp/bin/Debug/netcoreapp2.1
/WebApp-WebAPI/WebApp/obj
*.user
/WebApp-WebAPI/WebApp-WebAPI/obj
/WebApp-FunctionAPI/.vs
/WebApp-FunctionAPI/WebApp-FunctionAPI/bin/Debug/netcoreapp2.1
/WebApp-FunctionAPI/WebApp-FunctionAPI/obj
/WebApp-WebAPI-OnBehalfOf/.vs
/WebApp-WebAPI-OnBehalfOf/API.Common/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/API.Common/obj
/WebApp-WebAPI-OnBehalfOf/WebAPI/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebAPI/obj
/WebApp-WebAPI-OnBehalfOf/WebAPI2/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebAPI2/obj
/WebApp-WebAPI-OnBehalfOf/WebApp/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebApp/obj
/CertificateClient/.vs/CertificateClient/v15/Server/sqlite3
/CertificateClient/.vs/CertificateClient/v15/.suo
/CertificateClient/.vs/config/applicationhost.config
/CertificateClient/CertificateClient/bin/Debug/netcoreapp2.1
/CertificateClient/CertificateClient/obj
/CertificateClient/WebAPI/bin/Debug/netcoreapp2.1
/CertificateClient/WebAPI/obj
/IntegrationTests-WebAPI/WebAPI/.vs/WebAPI/v15
/IntegrationTests-WebAPI/WebAPI/WebAPI/bin/Debug/netcoreapp2.1
/IntegrationTests-WebAPI/WebAPI/WebAPI/obj
/UWP/UWPAuthentication/.vs
/UWP/UWPAuthentication/UWPAuthentication/bin/x86/Debug
/UWP/UWPAuthentication/UWPAuthentication/obj
/Android/AndroidAuthentication/.vs/AndroidAuthentication/v15
/Android/AndroidAuthentication/AndroidAuthentication/bin/Debug
/Android/AndroidAuthentication/AndroidAuthentication/obj
/Android/AndroidAuthentication/APIClientLibrary/obj
/Android/AndroidAuthentication/APIClientLibrary/bin/Debug/netstandard2.0
/Android/AndroidAuthentication/packages
