################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SinglePageApplication/.vs/SinglePageApplication/v15/Server/sqlite3
/SinglePageApplication/.vs/SinglePageApplication/v15/.suo
/SinglePageApplication/SinglePageApplication/bin/Debug/netcoreapp2.1
/SinglePageApplication/SinglePageApplication/obj
/SinglePageApplication/SinglePageApplication/SinglePageApplication.csproj.user
/SinglePageApplication/.vs/config
/.vs/slnx.sqlite
/.vs/AadDemos/v15/.suo
/SinglePageApplicationWithAPI/.vs
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/bin/Debug/netcoreapp2.1
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/obj
/SinglePageApplicationWithAPI/SinglePageApplicationWithAPI/SinglePageApplication.csproj.user
/SinglePageApplicationWithAPI/WebAPI/bin/Debug/netcoreapp2.1
/SinglePageApplicationWithAPI/WebAPI/obj
/WebApp-WebAPI/.vs
/WebApp-WebAPI/WebAPI/bin/Debug/netcoreapp2.1
/WebApp-WebAPI/WebAPI/obj
/WebApp-WebAPI/WebAPI/WebAPI.csproj.user
/WebApp-WebAPI/WebApp/bin/Debug/netcoreapp2.1
/WebApp-WebAPI/WebApp/obj
*.user
/WebApp-WebAPI/WebApp-WebAPI/obj
/WebApp-FunctionAPI/.vs
/WebApp-FunctionAPI/WebApp-FunctionAPI/bin/Debug/netcoreapp2.1
/WebApp-FunctionAPI/WebApp-FunctionAPI/obj
/WebApp-WebAPI-OnBehalfOf/.vs
/WebApp-WebAPI-OnBehalfOf/API.Common/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/API.Common/obj
/WebApp-WebAPI-OnBehalfOf/WebAPI/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebAPI/obj
/WebApp-WebAPI-OnBehalfOf/WebAPI2/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebAPI2/obj
/WebApp-WebAPI-OnBehalfOf/WebApp/bin/Debug/netcoreapp2.1
/WebApp-WebAPI-OnBehalfOf/WebApp/obj
/CertificateClient/.vs/CertificateClient/v15/Server/sqlite3
/CertificateClient/.vs/CertificateClient/v15/.suo
/CertificateClient/.vs/config/applicationhost.config
/CertificateClient/CertificateClient/bin/Debug/netcoreapp2.1
/CertificateClient/CertificateClient/obj
/CertificateClient/WebAPI/bin/Debug/netcoreapp2.1
/CertificateClient/WebAPI/obj
/IntegrationTests-WebAPI/WebAPI/.vs/WebAPI/v15
/IntegrationTests-WebAPI/WebAPI/WebAPI/bin/Debug/netcoreapp2.1
/IntegrationTests-WebAPI/WebAPI/WebAPI/obj
/UWP/UWPAuthentication/.vs
/UWP/UWPAuthentication/UWPAuthentication/bin/x86/Debug
/UWP/UWPAuthentication/UWPAuthentication/obj
/Android/AndroidAuthentication/.vs/AndroidAuthentication/v15
/Android/AndroidAuthentication/AndroidAuthentication/bin/Debug
/Android/AndroidAuthentication/AndroidAuthentication/obj
/Android/AndroidAuthentication/APIClientLibrary/obj
/Android/AndroidAuthentication/APIClientLibrary/bin/Debug/netstandard2.0
/Android/AndroidAuthentication/packages
/WpfAuthentication/WPFAuthentication/.vs
/WpfAuthentication/WPFAuthentication/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.1
/WpfAuthentication/WPFAuthentication/WebAPI/bin/Debug/netcoreapp2.1
/WpfAuthentication/WPFAuthentication/WebAPI/obj
/WpfAuthentication/WPFAuthentication/WPF/bin/Debug
/WpfAuthentication/WPFAuthentication/WPF/obj/Debug
/ConsoleAuthentication/ConsoleAppAuthentication/.vs
/ConsoleAuthentication/ConsoleAppAuthentication/Console/bin/Debug
/ConsoleAuthentication/ConsoleAppAuthentication/Console/obj/Debug
/ConsoleAuthentication/ConsoleAppAuthentication/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.1
/ConsoleAuthentication/ConsoleAppAuthentication/WebAPI/bin/Debug/netcoreapp2.1
/ConsoleAuthentication/ConsoleAppAuthentication/WebAPI/obj
/AndroidAuthentication/.vs/AndroidAuthentication/v15
/AndroidAuthentication/AndroidAuthentication/bin/Debug
/AndroidAuthentication/AndroidAuthentication/obj
/AndroidAuthentication/APIClientLibrary/bin/Debug/netstandard2.0
/AndroidAuthentication/APIClientLibrary/obj
/AndroidAuthentication/packages
/ConsoleAppAuthentication/.vs
/ConsoleAppAuthentication/Console/bin/Debug
/ConsoleAppAuthentication/Console/obj/Debug
/ConsoleAppAuthentication/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.1
/ConsoleAppAuthentication/WebAPI/bin/Debug/netcoreapp2.1
/ConsoleAppAuthentication/WebAPI/obj
/UWPAuthentication/.vs
/UWPAuthentication/UWPAuthentication/bin/x86/Debug
/UWPAuthentication/UWPAuthentication/obj
/WpfAuthentication/.vs/WPFAuthentication/DesignTimeBuild
/WpfAuthentication/.vs/WPFAuthentication/v15/Server/sqlite3
/WpfAuthentication/.vs/WPFAuthentication/v15/.suo
/WpfAuthentication/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.1
/WpfAuthentication/WebAPI/bin/Debug/netcoreapp2.1
/WpfAuthentication/WebAPI/obj
/WpfAuthentication/WPF/bin/Debug
/WpfAuthentication/WPF/obj/Debug
/ClientCredential/.vs
/ClientCredential/Client/obj/Debug
/ClientCredential/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.1
/ClientCredential/WebAPI/obj
/ClientCredential/Client/bin/Debug
